<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="snake-head"> 
			<hr>
			<h1> SNAKEBURGER </h1>
			<hr>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="jumbotron col-xs-8 col-xs-offset-2">
			<h3>Welcome to the world premier of our famous snake burgers.</h3>
			<p>Made from the freshest, organic snake-meat money can buy. We only source natural, GMO-free, anti-antibiotic, grass-fed snakes for our premium patties. Because you deserve snakes that deserve the best.</p>
		</div>
	</div>
	<div class="row">
		<div class="jumbotron col-xs-8 col-xs-offset-2">
			<p>Each of our premium dishes is crafted lovingly by our chefs who spent, at minimum, three years in snake school. They are literally snake-chef scientists, and they pour their minds, bodies, and souls into each dish they create.</p>
		</div>
	</div>
</div>