<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85365787-1', 'auto');
  ga('send', 'pageview');

</script>
<div class="container">
	<div class="row">
		<div class="jumbotron col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
			<p>Made from the freshest, organic snake-meat money can buy. We only source natural, GMO-free, anti-antibiotic, grass-fed snakes for our premium patties. Because you deserve snakes that deserve the best.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 jumbotron">
			
			<div class="col-sm-5 col-md-7 ">
				<p>Here is a desciption of the succulent snake burger pictured. Yum!</p>
			</div>
			<div class="col-sm-7 col-md-5 thumbnail">
				<%= image_tag('snake-burger.jpg') %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="jumbotron col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
			<p>Each of our premium dishes is crafted lovingly by our chefs who spent, at minimum, three years in snake school. They are literally snake-chef scientists, and they pour their minds, bodies, and souls into each dish they create.</p>
		</div>
	</div>
</div>

