/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"
@import "bootstrap"

body
    background: url(snakeskin.jpg)
    background-size: 960px 600px

.jumbotron 
    text-align: justify

.snakenav li
    text-align: center

button.btn.btn-info
    background: rgba(30, 30, 30, .5)

.nav-tabs
    background: rgba(30, 30, 30, .5)