// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.snake-head {
    font-family: 'Indie Flower', cursive;
    color: red;
    background: rgba(10, 10, 10, .7);
}
    
.snake-head h1 {
    font-size: 45px;
    text-align: center;
}

